<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="DatabaseConnectionString" value="Data Source=DESKTOP-J5V3R18\SQLEXPRESS;Initial Catalog=AtmDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</appSettings>
	
</configuration>